
.idea/.idea.ESVBible/.idea/

.idea/.idea.ESVBible/

.idea/.idea.ESVBibleSearch/.idea/codeStyles/

.idea/.idea.ESVBibleSearch/.idea/

.idea/.idea.ESVBibleSearch/

.vs/ESVBible/v16/

src/ESVBible.Api/obj/Container/

src/ESVBible.Api/obj/Debug/netcoreapp3.1/

src/ESVBible.Api/obj/Debug/netcoreapp5.0/

src/ESVBible.Api/obj/

src/ESVBible.Data/obj/Debug/net5.0/

src/ESVBible.Data/obj/Debug/netstandard2.1/

src/ESVBible.Data/obj/

src/ESVBible.Read.Query.Handler/obj/Debug/net5.0/

src/ESVBible.Read.Query.Handler/obj/

src/ESVBible.Read.Query.Mapping/obj/Debug/net5.0/

src/ESVBible.Read.Query.Mapping/obj/Debug/netstandard2.1/

src/ESVBible.Read.Query.Mapping/obj/

src/ESVBible.Read.Query.Transport/obj/Debug/net5.0/

src/ESVBible.Read.Query.Transport/obj/

tests/EsvBible.TestCore/obj/

tests/EsvBible.Read.Query.Mapping.Tests/obj/Debug/netcoreapp3.1/

tests/EsvBible.Read.Query.Mapping.Tests/obj/

tests/EsvBible.Read.Query.Handler.Tests/obj/

src/ESVBible.Shared/obj/

src/ESVBible.Shared.Infrastructure/obj/

src/ESVBible.Shared.Enum/obj/Debug/netstandard2.1/

src/ESVBible.Read.Query/obj/

src/ESVBible.Shared.Enum/obj/
